
module nginx 1.0;

require {
	type user_home_t;
	type httpd_t;
	class file read;
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t user_home_t:file read;
